

.list-group

  a.list-group-item.list-group-item-action(href="/employees")
    | Employees

  a.list-group-item.list-group-item-action(href="/category")
    | Categories

  a.list-group-item.list-group-item-action(href="/asset")
    | Assets

  a.list-group-item.list-group-item-action(href="/issue")
    | Issue Asset

  a.list-group-item.list-group-item-action(href="/return")
    | Return Asset  

  a.list-group-item.list-group-item-action(href="/stock")
    | Stock

  a.list-group-item.list-group-item-action(href="/stock/history")
    | History

  a.list-group-item.list-group-item-action(href="/scrap")
    | Scrap  