extends ../layout

block content

    h3 Edit Category

    div#message.mt-3

    form#categoryForm

        input(type="hidden" id="id" name="id")

        .mb-3
            label Category Name
            input.form-control(type="text", name="categoryName")

        .mb-3
            label Description
            input.form-control(type="text", name="description")

        .mb-3
            label Status
            select.form-select(name="status")
                option(value="Active") Active
                option(value="Inactive") Inactive

        button.btn.btn-primary(type="submit") Update

block scripts

    script.
        const categoryId = "#{id}";

    script(src="/js/category.js")