extends ../layout

block content

  h3 Category List

  a.btn.btn-success.mb-3(href="/category/add")
    | Add Category
    

  select.form-select#statusFilter
    option(value="") All
    option(value="Active") Active
    option(value="Inactive") Inactive  


  table.table.table-bordered#categoryTable
    thead
      tr
        th Category Name
        th Description
        th Status
        th Action

block scripts
  script(src="/js/category.js")