extends ../layout

block content

    h3 View Asset

    .card
        .card-body

            table.table.table-bordered

                tr
                    th(width="220") Asset Name
                    td#assetName

                tr
                    th Serial Number
                    td#serialNumber

                tr
                    th Scrap Date
                    td#scrapDate

                tr
                    th Reason
                    td#reason

               
    a.btn.btn-secondary.mt-3(href="/scrap")
        | Back

block scripts

    script.
        const scrapId = "#{id}";

    script(src="/js/scrap.js")